h1{
text-align:center;
background-color:#000000;
color:white;
}
h1:hover{
color:orange;
cursor:col-resize;
}
h2{
	margin-top:30px;
}
body{
background-color:#EEEEEE;
}
body{
	font-family:"Montserrat", sans-serif;
}
form{
	margin-top:100px;
}
.btn-dark:hover{
color:orange;
}
